/* this file is: style.css */
	
#img2
	{
		display: block;
		float: right;
		padding: 20px;
		margin: auto;
	}
	
#img3
	{
		display: block;
		float: right;
		padding: 20px;
		margin: auto;
	}
	
body
	{
		background-color: #ff0000;
		font-family: italic;
		height: 1290px;
	}
	
#body2
	{
		background-color: #ff0000;
		font-family: italic;
		height: 2265px;
	}
	
#body3
	{
		background-color: #ff0000;
		font-family: italic;
		height: 2780px;
	}
	
#body4
	{
		background-color: #ff0000;
		font-family: italic;
		height: 1490px;
	}
	
#body5
	{
		background-color: #ff0000;
		font-family: italic;
		height: 920px;
	}
	
#body6
	{
		background-color: #ff0000;
		font-family: italic;
		height: 955px;
	}
	
#body7
	{
		background-color: #ff0000;
		font-family: italic;
		height: 2015px;
	}
	
#body8
	{
		background-color: #ff0000;
		font-family: italic;
		height: 905px;
	}
	
#body9
	{
		background-color: #ff0000;
		font-family: italic;
		height: 960px;
	}
	
#body10
	{
		background-color: #ff0000;
		font-family: italic;
		height: px;
	}
	
#body11
	{
		background-color: #ff0000;
		font-family: italic;
		height: 1365px;
	}
	
#body11
	{
		background-color: #ff0000;
		font-family: italic;
		height: px;
	}
	
#header
	{
		background-color: #000000;
		padding: 2px;
		margin: auto;
		width: 65%
	}
h1
	{
		padding-left: 20px;
		color: #ffffff;
		text-align: center;
	}
nav	{
		float: left;
		width: 150px;
		height: 50px;
		background-color: #000000;
		padding-top: 70px;
	}

nav ul 
	{
		list-style-type: none;
		display: block;
	}

nav ul li
	{
		margin: 10px;
	}

li a 
	{
		text-decoration: none;
		color: #ffffff;
	}
	
a:hover
	{
		color: #7cfc00;
	}
	
#content 
	{
		background-color: #ffffff;
		padding: 70px;
		margin: auto;
		width: 800px;
		border: solid;
	}
	
#content2 
	{
		background-color: #ffffff;
		padding: 70px;
		margin: auto;
		width: 800px;
		border: solid;
		height: 1500px;
	}

#content3 
	{
		background-color: #ffffff;
		padding: 70px;
		margin: auto;
		width: 800px;
		text-align: center;
	}
	
#colour
	{
		color: #1e90ff;
	}

h2
	{
		color: #ff0000;
		font-family: italic;
		margin-top: 5px;
	}
	
#container
	{
		width: 1020px;
		height: 1200px;
		margin: auto;
		background-color: #000000;
	}
	
#container2
	{
		width: 1020px;
		height: 2200px;
		margin: auto;
		background-color: #000000;		
	}
	
#container3
	{
		width: 1020px;
		height: 2700px;
		margin: auto;
		background-color: #000000;		
	}
	
#container4
	{
		width: 1020px;
		height: 1400px;
		margin: auto;
		background-color: #000000;		
	}
	
#container5
	{
		width: 1020px;
		height: 800px;
		margin: auto;
		background-color: #000000;		
	}
	
#container6
	{
		width: 1020px;
		height: 800px;
		margin: auto;
		background-color: #000000;		
	}
	
#container7
	{
		width: 1020px;
		height: 1900px;
		margin: auto;
		background-color: #000000;		
	}
	
#container8
	{
		width: 1020px;
		height: 800px;
		margin: auto;
		background-color: #000000;		
	}
	
#container9
	{
		width: 1020px;
		height: 800px;
		margin: auto;
		background-color: #000000;		
	}
	
#container10
	{
		width: 1020px;
		height: 800px;
		margin: auto;
		background-color: #000000;		
	}
	
#container11
	{
		width: 1020px;
		height: 1200px;
		margin: auto;
		background-color: #000000;		
	}
	
#main
	{
		width: 1000px;
		background-color: #000000;
	}
	
#info
	{
		width: 25%;
		background-color: #000000;
	}
	
#info2 ul
	{
		display: block;
	}
	
#info2 a 
	{
		
		color: #000000;
	}
	
#info2 a:hover
	{
		color: #7cfc00;
	}
	
#top
	{
		text-align: center;
		text-decoration: none;
		list-style-type: none;
		background-color: #000000;
		color: #ffffff;
		width: 1000px;
		height: 80px;
		margin: auto;
	}
	
footer
	{
		text-align: center;
		padding: 10px;
		background-color: #000000;
		color: #ffffff;
		width: 1000px;
		margin: auto;
	}
	
#points
	{
		background-color: #ffffff;
		width:800px;
	}

#points ul li
	{
		list-style-type: circle;
		list-style-position: outside;
		background-color: #ffffff;
		width: 800px;
	}
		